@page "/"

@using System.Net.Http
@using System.Text.Json
@using Shared.ApiModels
@inject HttpClient HttpClient

<h3>Véhicules en retard d'entretien</h3>

@if (_overdueVehicles != null && _overdueVehicles.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Immatriculation</th>
                <th>Retard de maintenance (km)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in _overdueVehicles)
            {
                <tr>
					<td><a href="@($"VehiculeDetail/{vehicle.Vehicle.Id}")">@vehicle.Vehicle.VModel.ModelBrand.Name</a></td>
	                <td>@vehicle.Vehicle.VModel.Name</td>
	                <td>@vehicle.Vehicle.NumberPlate</td>
	                <td>-@vehicle.MaintenanceDelay</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
	<p><em>Loading...</em></p>
}

@code {
	private IList<OverdueVehicle>? _overdueVehicles;

	protected override async Task OnInitializedAsync()
	{
		var response = await HttpClient.GetAsync("api/Vehicle/GetMaintenanceOverdueVehicles");
		if (response.IsSuccessStatusCode)
		{
			_overdueVehicles = await response.Content.ReadFromJsonAsync<List<OverdueVehicle>>();
		}
	}

	public class OverdueVehicle
	{
		public VehicleModel Vehicle { get; set; }
		public int MaintenanceDelay { get; set; }
	}

}

