@page "/"

@using System.Net.Http
@using System.Text.Json
@using Shared.ApiModels
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<h3>Véhicules en retard d'entretien</h3>
<BackButton />
@if (_overdueVehicles != null && _overdueVehicles.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Immatriculation</th>
                <th>Retard de maintenance (km)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in _overdueVehicles)
            {
                <tr>
					<td>@vehicle.Vehicle.CarModel.Brand.Name</td>
					<td>@vehicle.Vehicle.CarModel.Name</td>
	                <td>@vehicle.Vehicle.NumberPlate</td>
	                <td>-@vehicle.MaintenanceDelay</td>
	                <td><button class="btn btn-primary" @onclick="(()=>ViewDetails(vehicle.Vehicle.Id))">Voir détails</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
	<p><em>Aucun véhicule en retard d'entretien.</em></p>
}

@code {
	private IList<OverdueVehicle>? _overdueVehicles;

	protected override async Task OnInitializedAsync()
	{
		var response = await HttpClient.GetAsync("api/Vehicle/GetMaintenanceOverdueVehicles");
		if (response.IsSuccessStatusCode)
		{
			_overdueVehicles = await response.Content.ReadFromJsonAsync<List<OverdueVehicle>>();
		}
	}

	public class OverdueVehicle
	{
		public VehicleModel Vehicle { get; set; }
		public int MaintenanceDelay { get; set; }
	}
	private void ViewDetails(int vehicleId)
	{
		NavigationManager.NavigateTo($"/VehiculeDetail/{vehicleId}");
	}
}

